.login-banner img {
  width: 350px;    
  height: auto;    
  display: block;  
  margin: 20px auto; 
}

section {
  text-align: center; 
}

label {
  display: inline-flex;         
  gap: 6px;                    
  font-weight: 60;
}

label img.icon {
  width: 22px;      
  height: 26px;    
  margin-left: 6px; 
  vertical-align: middle;
  opacity: .9;
}
.header {
  position: relative;
  text-align: center;
}

.header-img {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
  font-weight: bold;
  color: white; 
 
  padding: 10px 20px;
  border-radius: 5px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("Images/plane.png") no-repeat center center fixed;
  background-size: cover;
}